{
  "app_name": "BPHN Analytics",
  "primary_color": "#192C70",
  "secondary_color": "#FFCB05",
  "primary_color_dark": "#4A6BC7",
  "secondary_color_dark": "#FFCB05",
  "welcome_message": "Welcome to BPHN Analytics"
}
